BASE_HREF=https://dev.bulletin.lftechnology.com
REACT_APP_BASE_URL=https://dev.bulletin.lftechnology.com
REACT_APP_BASE_API_URL=https://dev.bulletin.lftechnology.com/api
GOOGLE_LOGIN_URL=https://dev.bulletin.lftechnology.com/api/auth/google
