BASE_HREF=dev.bulletin.lftechnology.com
REACT_APP_BASE_URL=dev.bulletin.lftechnology.com
REACT_APP_BASE_API_URL=dev.bulletin.lftechnology.com/api
GOOGLE_LOGIN_URL=dev.bulletin.lftechnology.com/api/auth/google
